<h1>Final Capstone Project</h1>

<h3><i>Part 1 - Segmenting and Clustering assignment</i></h3>

In [1]:
#IMPORT BeautifulSoup library
from bs4 import BeautifulSoup
import requests

<h4><i>Fetch the HTML page data</i></h4>

In [2]:
source  = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

<h4><i>Create Soup Object</i></h4>

In [3]:
soup = BeautifulSoup(source,'lxml')

<h4><i>Fetch TABLE ROWS from table tag</i></h4>

In [104]:
stat = soup.find('table', class_ ="wikitable sortable")
len(stat)
tr1 = stat.find_all('tr')

<h4><i>Fetch the actual data from TABLE tag</i></h4>

In [6]:
final = []
for row in tr1:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    #print(cols + ",")
    final = final + cols

<h4><i>Creating dataframe from the list</i></h4>

In [8]:
s = [final[i:i+3] for i in range(0,len(final),3)]

In [103]:
import pandas as pd
d1 = pd.DataFrame()
d1['Postal Code'] = s
d1.head()

                             Postal Code
0      [M1A, Not assigned, Not assigned]
1      [M2A, Not assigned, Not assigned]
2           [M3A, North York, Parkwoods]
3    [M4A, North York, Victoria Village]
4  [M5A, Downtown Toronto, Harbourfront]

In [10]:
k = 0
for i in range(0,289):
        for j in range(0,1):
 #          print(j)
 #          print(final[k] + "," + final[k+1] + "," + final[k+2])
            d1['Postal Code'][i] = final[k] + "," + final[k+1] + "," + final[k+2]
            k = k + 3
            
         
d1.tail()

                             Postal Code
284              M8Z,Etobicoke,Mimico NW
285     M8Z,Etobicoke,The Queensway West
286  M8Z,Etobicoke,Royal York South West
287         M8Z,Etobicoke,South of Bloor
288        M9Z,Not assigned,Not assigned

In [11]:
d1.head()

                         Postal Code
0      M1A,Not assigned,Not assigned
1      M2A,Not assigned,Not assigned
2           M3A,North York,Parkwoods
3    M4A,North York,Victoria Village
4  M5A,Downtown Toronto,Harbourfront

In [12]:
new = d1["Postal Code"].str.split(",", n = 2, expand = True) 
d1["a"]= new[0] 
d1["b"]= new[1] 
d1["c"]= new[2]
d1.head()

                         Postal Code    a                 b                 c
0      M1A,Not assigned,Not assigned  M1A      Not assigned      Not assigned
1      M2A,Not assigned,Not assigned  M2A      Not assigned      Not assigned
2           M3A,North York,Parkwoods  M3A        North York         Parkwoods
3    M4A,North York,Victoria Village  M4A        North York  Victoria Village
4  M5A,Downtown Toronto,Harbourfront  M5A  Downtown Toronto      Harbourfront

In [13]:
d1 = d1.drop(['Postal Code'],axis=1)

In [14]:
d1.columns = ["Postal Code","Borough","Neighbourhood"]

In [15]:
d1.head()

  Postal Code           Borough     Neighbourhood
0         M1A      Not assigned      Not assigned
1         M2A      Not assigned      Not assigned
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront

<h4><i>Removing rows with NOT ASSIGNED values rows in BOROUGH column</i></h4>

In [16]:
d1 = d1[d1['Borough'] != 'Not assigned']
  #      d1 = d1

In [17]:
d1.head(10)

   Postal Code           Borough     Neighbourhood
2          M3A        North York         Parkwoods
3          M4A        North York  Victoria Village
4          M5A  Downtown Toronto      Harbourfront
5          M5A  Downtown Toronto       Regent Park
6          M6A        North York  Lawrence Heights
7          M6A        North York    Lawrence Manor
8          M7A      Queen's Park      Not assigned
10         M9A         Etobicoke  Islington Avenue
11         M1B       Scarborough             Rouge
12         M1B       Scarborough           Malvern

<h4><i>Assigning all NOT ASSIGNED values with same name as in BOROUGH</i></h4>

In [19]:
cnt = 0 
for i in range(0,212):
    j = 2
    if d1.iloc[i][j] == 'Not assigned':
        d1.iloc[i][j] = d1.iloc[i][j-1]
        j = j + 1

In [20]:
d1 = d1.set_index('Postal Code')

In [21]:
#gg = d1.groupby(d1['Postal Code'])

In [22]:
d1.head(10)

                      Borough     Neighbourhood
Postal Code
M3A                North York         Parkwoods
M4A                North York  Victoria Village
M5A          Downtown Toronto      Harbourfront
M5A          Downtown Toronto       Regent Park
M6A                North York  Lawrence Heights
M6A                North York    Lawrence Manor
M7A              Queen's Park      Queen's Park
M9A                 Etobicoke  Islington Avenue
M1B               Scarborough             Rouge
M1B               Scarborough           Malvern

In [23]:
d1 = d1.reset_index()

In [24]:
d1.head(10)

  Postal Code           Borough     Neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M5A  Downtown Toronto       Regent Park
4         M6A        North York  Lawrence Heights
5         M6A        North York    Lawrence Manor
6         M7A      Queen's Park      Queen's Park
7         M9A         Etobicoke  Islington Avenue
8         M1B       Scarborough             Rouge
9         M1B       Scarborough           Malvern

<h4><i>Concatenating neighbourhoods pertaining to each POSTAL CODE</i></h4>

In [28]:
import pandas as pd
d2 = pd.DataFrame()
d2 = d1
d2.head()

  Postal Code           Borough     Neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M5A  Downtown Toronto       Regent Park
4         M6A        North York  Lawrence Heights

In [67]:
#d1['Postal Code'].value_counts()

In [62]:
d1['Postal Code'].value_counts()
d3 = d2.sort_values('Postal Code',ascending=True)
d3.head(10)

   Postal Code      Borough   Neighbourhood
8          M1B  Scarborough           Rouge
9          M1B  Scarborough         Malvern
23         M1C  Scarborough      Port Union
22         M1C  Scarborough      Rouge Hill
21         M1C  Scarborough  Highland Creek
33         M1E  Scarborough       Guildwood
34         M1E  Scarborough     Morningside
35         M1E  Scarborough       West Hill
39         M1G  Scarborough          Woburn
43         M1H  Scarborough       Cedarbrae

In [26]:
for i in range(0,4):
    if d1.iloc[i][0] == d1.iloc[i+1][0]:
        print(d1.iloc[i][0])
        print(d1.iloc[i+1][0])
        print('yes')

M5A
M5A
yes

In [63]:
d3['Neighbourhood'] = d3['Neighbourhood'].astype(str) + ","

In [64]:
d3.head()

   Postal Code      Borough    Neighbourhood
8          M1B  Scarborough           Rouge,
9          M1B  Scarborough         Malvern,
23         M1C  Scarborough      Port Union,
22         M1C  Scarborough      Rouge Hill,
21         M1C  Scarborough  Highland Creek,

In [68]:
d3 = d3.groupby(['Postal Code','Borough']).sum()

In [70]:
d3.head()

                                                 Neighbourhood
Postal Code Borough
M1B         Scarborough                         Rouge,Malvern,
M1C         Scarborough  Port Union,Rouge Hill,Highland Creek,
M1E         Scarborough       Guildwood,Morningside,West Hill,
M1G         Scarborough                                Woburn,
M1H         Scarborough                             Cedarbrae,

In [73]:
d3 = d3.reset_index()

In [87]:
d3['Neighbourhood'] = d3['Neighbourhood'].map(lambda x: x.rstrip(','))

<h4><i>FINAL DATAFRAME</i></h4>

In [90]:
d3.head(20)

   Postal Code      Borough                                      Neighbourhood
0          M1B  Scarborough                                      Rouge,Malvern
1          M1C  Scarborough               Port Union,Rouge Hill,Highland Creek
2          M1E  Scarborough                    Guildwood,Morningside,West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
5          M1J  Scarborough                                Scarborough Village
6          M1K  Scarborough          East Birchmount Park,Ionview,Kennedy Park
7          M1L  Scarborough                      Golden Mile,Oakridge,Clairlea
8          M1M  Scarborough      Cliffcrest,Scarborough Village West,Cliffside
9          M1N  Scarborough                         Cliffside West,Birch Cliff
10         M1P  Scarborough  Wexford Heights,Dorset Park,Scarborough Town C...
11         M1R  Scarborough                                   Maryvale,Wexford
12         M1S  Scarborough                                          Agincourt
13         M1T  Scarborough              Sullivan,Clarks Corners,Tam O'Shanter
14         M1V  Scarborough  Milliken,Agincourt North,L'Amoreaux East,Steel...
15         M1W  Scarborough                       Steeles West,L'Amoreaux West
16         M1X  Scarborough                                        Upper Rouge
17         M2H   North York                                  Hillcrest Village
18         M2J   North York                         Fairview,Oriole,Henry Farm
19         M2K   North York                                    Bayview Village

In [89]:
d3.shape

(103, 3)

<h3><i> Part 2 - Segmenting and Clustering assignment (Including Coordinates of POSTAL codes)</i></h3>

In [94]:
cord = pd.read_csv("https://cocl.us/Geospatial_data")

In [95]:
cord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [96]:
cord.shape

(103, 3)

In [98]:
cord = cord.sort_values('Postal Code',ascending=True)
cord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [99]:
d3.head()

  Postal Code      Borough                         Neighbourhood
0         M1B  Scarborough                         Rouge,Malvern
1         M1C  Scarborough  Port Union,Rouge Hill,Highland Creek
2         M1E  Scarborough       Guildwood,Morningside,West Hill
3         M1G  Scarborough                                Woburn
4         M1H  Scarborough                             Cedarbrae

<h3><i>Final Dataframe with Latitude and Longitudes</i></h3>

In [101]:
d4 = pd.concat([d3, cord], axis=1)
d4.head()

,Postal Code,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Port Union,Rouge Hill,Highland Creek",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476